@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1923%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsRadialGradient1924)'%3e%3c/rect%3e%3cpath d='M1512 560L0 560 L0 301.71Q34.76 264.47%2c 72 299.23Q124.29 231.52%2c 192 283.82Q269.05 240.87%2c 312 317.91Q363.58 249.49%2c 432 301.07Q485.16 234.23%2c 552 287.39Q601.59 264.98%2c 624 314.56Q654.12 272.68%2c 696 302.8Q725.12 259.91%2c 768 289.03Q816.22 265.25%2c 840 313.47Q894.75 248.23%2c 960 302.98Q1012.15 235.13%2c 1080 287.29Q1153.73 241.02%2c 1200 314.75Q1227.58 270.32%2c 1272 297.9Q1323.2 229.1%2c 1392 280.29Q1467.7 235.99%2c 1512 311.69z' fill='rgba(2%2c 119%2c 189%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 317.3Q65.07 262.38%2c 120 327.45Q162.19 297.64%2c 192 339.83Q216.46 292.29%2c 264 316.75Q330.27 263.02%2c 384 329.3Q425.63 298.94%2c 456 340.57Q478.19 290.76%2c 528 312.96Q595.53 260.5%2c 648 328.03Q692.69 300.72%2c 720 345.41Q740.52 293.94%2c 792 314.46Q861.77 264.23%2c 912 333.99Q977.95 279.94%2c 1032 345.89Q1051.97 293.86%2c 1104 313.83Q1149.52 287.35%2c 1176 332.86Q1242.5 279.37%2c 1296 345.87Q1316.42 294.29%2c 1368 314.71Q1435.32 262.03%2c 1488 329.35z' fill='rgba(2%2c 136%2c 209%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 372.4Q29.63 330.03%2c 72 359.66Q124.05 291.71%2c 192 343.76Q241.8 321.56%2c 264 371.36Q315.49 302.85%2c 384 354.33Q414.66 312.99%2c 456 343.65Q527.11 294.75%2c 576 365.86Q630.53 300.39%2c 696 354.93Q748.7 287.63%2c 816 340.33Q868.32 320.65%2c 888 372.98Q917.73 330.71%2c 960 360.44Q1011.97 292.41%2c 1080 344.38Q1130.34 322.72%2c 1152 373.05Q1203.15 304.21%2c 1272 355.36Q1325.45 288.81%2c 1392 342.26Q1441.29 319.55%2c 1464 368.84z' fill='rgba(3%2c 155%2c 229%2c 1)'%3e%3c/path%3e%3cpath d='M1512 560L0 560 L0 367.5Q60.72 308.22%2c 120 368.93Q169.65 346.58%2c 192 396.22Q222.83 355.05%2c 264 385.88Q291.01 340.89%2c 336 367.91Q389.17 349.08%2c 408 402.25Q460 334.25%2c 528 386.26Q578.4 316.66%2c 648 367.06Q725.95 325.01%2c 768 402.97Q822.85 337.82%2c 888 392.66Q913.38 346.04%2c 960 371.41Q1022.09 313.5%2c 1080 375.59Q1153.7 329.29%2c 1200 402.99Q1241.22 324.22%2c 1320 365.44Q1364.94 338.38%2c 1392 383.33Q1460.39 331.73%2c 1512 400.12z' fill='rgba(3%2c 169%2c 244%2c 1)'%3e%3c/path%3e%3cpath d='M1560 560L0 560 L0 400.91Q63.02 343.93%2c 120 406.95Q167.41 382.36%2c 192 429.77Q209.49 375.26%2c 264 392.75Q312.59 369.34%2c 336 417.92Q402.05 363.97%2c 456 430.02Q502.13 356.15%2c 576 402.29Q617.1 371.39%2c 648 412.49Q716.9 361.39%2c 768 430.3Q787.04 377.34%2c 840 396.38Q883.93 368.31%2c 912 412.24Q953.33 381.56%2c 984 422.89Q1032.69 351.58%2c 1104 400.28Q1148.56 372.83%2c 1176 417.39Q1241.81 363.2%2c 1296 429.01Q1319.42 380.43%2c 1368 403.85Q1409.09 372.94%2c 1440 414.03Q1506.12 360.15%2c 1560 426.27z' fill='rgba(41%2c 182%2c 246%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 436.79Q65.19 381.98%2c 120 447.16Q161.11 416.27%2c 192 457.38Q215.44 408.82%2c 264 432.26Q306.39 402.65%2c 336 445.05Q401.66 390.71%2c 456 456.37Q474.72 403.09%2c 528 421.81Q596.36 370.17%2c 648 438.53Q690.85 409.38%2c 720 452.23Q765.26 377.49%2c 840 422.75Q882.46 393.21%2c 912 435.67Q982.49 386.16%2c 1032 456.65Q1050.46 403.11%2c 1104 421.57Q1149.87 395.44%2c 1176 441.31Q1220.66 413.97%2c 1248 458.63Q1294.08 384.7%2c 1368 430.78Q1433.87 376.64%2c 1488 442.51z' fill='rgba(79%2c 195%2c 247%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 456.81Q70.87 407.69%2c 120 478.56Q175 413.56%2c 240 468.55Q266.84 423.39%2c 312 450.24Q363.67 429.91%2c 384 481.59Q410.65 436.24%2c 456 462.88Q510.85 397.73%2c 576 452.58Q647.37 403.94%2c 696 475.31Q761.06 420.37%2c 816 485.42Q861.13 410.56%2c 936 455.69Q1003.54 403.23%2c 1056 470.77Q1123.59 418.36%2c 1176 485.95Q1194.75 432.7%2c 1248 451.45Q1315.78 399.23%2c 1368 467Q1437.38 416.38%2c 1488 485.76z' fill='rgba(129%2c 212%2c 250%2c 1)'%3e%3c/path%3e%3cpath d='M1464 560L0 560 L0 514.93Q50 444.93%2c 120 494.93Q146.94 449.87%2c 192 476.8Q247.1 459.9%2c 264 515.01Q314.5 445.5%2c 384 496Q413.4 453.4%2c 456 482.8Q506.08 460.88%2c 528 510.96Q581.88 444.83%2c 648 498.71Q674.74 453.44%2c 720 480.18Q772.48 460.66%2c 792 513.14Q818.15 467.29%2c 864 493.44Q916.32 425.76%2c 984 478.08Q1056.87 430.94%2c 1104 503.81Q1158.01 437.82%2c 1224 491.83Q1295.25 443.08%2c 1344 514.32Q1397.78 448.1%2c 1464 501.88z' fill='rgba(179%2c 229%2c 252%2c 1)'%3e%3c/path%3e%3cpath d='M1536 560L0 560 L0 525.35Q51.83 457.18%2c 120 509.02Q194.17 463.19%2c 240 537.37Q294.54 471.91%2c 360 526.46Q410.2 456.66%2c 480 506.86Q556.27 463.13%2c 600 539.41Q653.15 472.56%2c 720 525.7Q749.77 483.48%2c 792 513.25Q864.59 465.84%2c 912 538.42Q941 495.42%2c 984 524.43Q1037.37 457.79%2c 1104 511.16Q1154.53 489.69%2c 1176 540.22Q1226.82 471.04%2c 1296 521.86Q1349.15 455.01%2c 1416 508.16Q1492.11 464.26%2c 1536 540.37z' fill='rgba(225%2c 245%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1488 560L0 560 L0 541.79Q41.41 511.2%2c 72 552.62Q116.85 525.47%2c 144 570.32Q166.14 520.46%2c 216 542.6Q259.5 514.11%2c 288 557.61Q329.25 526.86%2c 360 568.11Q405.95 494.06%2c 480 540Q546.66 486.66%2c 600 553.32Q644.71 526.03%2c 672 570.73Q688.85 515.58%2c 744 532.43Q812.83 481.25%2c 864 550.08Q934.46 500.54%2c 984 570.99Q1028.37 495.36%2c 1104 539.73Q1148.59 512.32%2c 1176 556.91Q1242.82 503.73%2c 1296 570.55Q1343.21 497.76%2c 1416 544.97Q1457.4 514.37%2c 1488 555.77z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1923'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1924'%3e%3cstop stop-color='rgba(0%2c 69%2c 158%2c 1)' offset='0.32'%3e%3c/stop%3e%3cstop stop-color='rgba(1%2c 87%2c 155%2c 1)' offset='0.55'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 700; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  width:auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 10px 10px 10px rgba(0,0,0, 0.2);
}

.quote-text{
  font-size: 2.75rem;
}

.long-quote{
  font-size: 2rem;
}

.fa-quote-left{
  font-size: 4rem;
}

.quote-author{
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
}

button{
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #0288D1;
  background-color: #FFFFFF;
  outline: none;
  padding: 0.5rem 1.8rem;
  box-shadow: 0 0.3rem rgba(102,145,204,0.65);
}

button:hover{
  filter: brightness(110%);
}

button:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.twitter-button:hover{
  color: #38a1f3;
}

.fa-twitter{
  font-size:1.5rem;
}

.button-container{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px){
  .quote-container{
    margin: auto 15px;
  }

  .quote-text{
    font-size: 2.5rem;
  }
}